In [2]:
import pandas as pd

In [16]:
Salary=pd.Series([100,200,300,400],index=[1,2,3,4])

In [10]:
print(Salary.iloc[2]) #Refer default index which is int type
print(Salary.loc[2]) #Refer user index

300
200

In [11]:
Salary.isnull()

1    False
2    False
3    False
4    False
dtype: bool

In [17]:
Salary.index

Int64Index([1, 2, 3, 4], dtype='int64')

In [22]:
data=pd.DataFrame({'A':[1,2],'B':[5,10]},index=['A','B'])

In [23]:
data

   A   B
A  1   5
B  2  10

In [25]:
data['B']

A     5
B    10
Name: B, dtype: int64

In [24]:
data.loc['B']

A     2
B    10
Name: B, dtype: int64