In [50]:
import numpy as np 
import pandas as pd
series = pd.Series((43535,2,3,4,5))
print(series)

num =np.array([1,2,3,6,77,7,655])
print(num)

0    43535
1        2
2        3
3        4
4        5
dtype: int64
[  1   2   3   6  77   7 655]

In [45]:
series[0]
s1= pd.Series()
type(s1)

pandas.core.series.Series

In [36]:
test = pd.Series((1,'2',4,'Siraj'))
print(test)

0        1
1        2
2        4
3    Siraj
dtype: object

In [16]:
small = pd.Series()
small

Series([], dtype: float64)

In [39]:

small = pd.Series(1,index=[1,2,3,4,5,6,7])
small

1    1
2    1
3    1
4    1
5    1
6    1
7    1
dtype: int64

In [40]:
str = pd.Series(num,index=[1,2,3,4,5,6,7])

In [42]:
num

array([  1,   2,   3,   6,  77,   7, 655])

In [41]:
str[[2,4,6]]

2    2
4    6
6    7
dtype: int32

In [48]:
s3 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print (s3['a'])

1

In [49]:
b.dtype

NameError: name 'b' is not defined

In [51]:
p=pd.DataFrame()

In [52]:
p

Empty DataFrame
Columns: []
Index: []

In [54]:
print(p)

Empty DataFrame
Columns: []
Index: []

In [55]:
data = [1,2,3,4,5]
dataf = [['Alex',10],['Bob',12],['Clarke',13]]

In [56]:
pd.DataFrame(dataf,columns=['Names','Age'])

   0
0  1
1  2
2  3
3  4
4  5