In [2]:
#Pandas
import numpy as np
import pandas as pd
s = pd.Series((1,2,3,4,5))
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
s.values

array([1, 2, 3, 4, 5])

In [8]:
pd.read_csv?

In [6]:
s = pd.Series(np.random.rand(5),('a','b','c','d','e'))
print(s)

a    0.741606
b    0.737019
c    0.917475
d    0.472422
e    0.630710
dtype: float64

In [12]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
s.values

array([0, 0, 0, 0, 0])

In [14]:
type(s)

pandas.core.series.Series

In [22]:
s.dtype

dtype('int64')

In [23]:
s.copy?

In [24]:
s.mean()

0.0

In [25]:
s.sum()

0

In [9]:
a = dict(s)

In [10]:
print(a)

{'a': 0.7416059615474073, 'b': 0.7370193155494444, 'c': 0.9174754370684008, 'd': 0.4724218252655541, 'e': 0.6307099896816761}

In [11]:
s1 = pd.Series(a)

In [12]:
print(s1)

a    0.741606
b    0.737019
c    0.917475
d    0.472422
e    0.630710
dtype: float64

In [13]:
s1.reindex(['e','b'])

e    0.630710
b    0.737019
dtype: float64

In [14]:
pd.Series.reindex?

In [15]:
dataf = pd.DataFrame({'first': s1+s1,'second': s1*s1})

In [16]:
dataf

      first    second
a  1.483212  0.549979
b  1.474039  0.543197
c  1.834951  0.841761
d  0.944844  0.223182
e  1.261420  0.397795

In [44]:
dataf.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
dataf.dtypes

first     float64
second    float64
dtype: object

In [46]:
dataf.columns

Index(['first', 'second'], dtype='object')

In [18]:
dataf['three'] = s*s*s

In [19]:
dataf

      first    second     three
a  1.483212  0.549979  0.407868
b  1.474039  0.543197  0.400347
c  1.834951  0.841761  0.772295
d  0.944844  0.223182  0.105436
e  1.261420  0.397795  0.250893

In [52]:
type(dataf)

pandas.core.frame.DataFrame

In [54]:
dataf.second

a    0.000039
b    0.049314
c    0.918177
d    0.164272
e    0.835475
Name: second, dtype: float64

In [56]:
dataf.drop('a')

      first    second     three
b  0.444136  0.049314  0.010951
c  1.916431  0.918177  0.879811
d  0.810609  0.164272  0.066580
e  1.828087  0.835475  0.763661

In [59]:
dataf.drop('first',axis = 1)

     second         three
a  0.000039  2.474830e-07
b  0.049314  1.095108e-02
c  0.918177  8.798110e-01
d  0.164272  6.657996e-02
e  0.835475  7.636607e-01

In [20]:
dataf.mean(axis = 0)

first     1.399693
second    0.511183
three     0.387368
dtype: float64

In [23]:
dataf.apply(np.mean,axis = 1)

a    0.813686
b    0.805861
c    1.149669
d    0.424487
e    0.636703
dtype: float64

In [66]:
dataf.median()

first     0.810609
second    0.164272
three     0.066580
dtype: float64

In [71]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
first     5 non-null float64
second    5 non-null float64
three     5 non-null float64
dtypes: float64(3)
memory usage: 320.0+ bytes

In [72]:
dataf.describe()

          first    second         three
count  5.000000  5.000000  5.000000e+00
mean   1.002364  0.393455  3.442006e-01
std    0.843422  0.446220  4.385851e-01
min    0.012557  0.000039  2.474830e-07
25%    0.444136  0.049314  1.095108e-02
50%    0.810609  0.164272  6.657996e-02
75%    1.828087  0.835475  7.636607e-01
max    1.916431  0.918177  8.798110e-01

In [74]:
pd.DataFrame.drop?

In [76]:
dataf.apply(min,axis = 1)

a    2.474830e-07
b    1.095108e-02
c    8.798110e-01
d    6.657996e-02
e    7.636607e-01
dtype: float64

In [77]:
#On each column 

#find the sum of (sum of the data with its mean)

In [1]:
xrange?

Object `xrange` not found.