In [1]:
import numpy as np

In [2]:
a_list = [3,4,5]

In [3]:
type(np.array(a_list))

numpy.ndarray

In [5]:
arr = np.array(a_list) # transform list into a array , cast a list into an array

In [6]:
np.arange(0, 10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
np.arange(0, 11, 2) # start , stop and step

array([ 0,  2,  4,  6,  8, 10])

In [9]:
np.zeros((3, 5)) # tuple of dimensions, decimals indicate that they are floating points. Alway usefuls so you dont lose

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [10]:
np.ones(3)

array([ 1.,  1.,  1.])

In [11]:
np.ones((3, 5))

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [15]:
np.linspace(0, 11, 11)

array([  0. ,   1.1,   2.2,   3.3,   4.4,   5.5,   6.6,   7.7,   8.8,
         9.9,  11. ])

In [18]:
np.random.randint(1, 100, (3,3))

array([[66, 21, 67],
       [51, 30, 35],
       [49, 17, 10]])

In [19]:
np.random.normal(1, 10)

3.154743434599247

In [21]:
np.random.seed(101) # always keep seed in the same cell, to keep the output same

np.random.randint(0, 100, 10)

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [23]:
np.random.randint(0, 100, 10)

array([49, 83,  8, 29, 59, 34, 44, 72, 19, 10])

In [24]:
np.random.seed(101)
arr = np.random.randint(0, 100, 10)

In [25]:
arr

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [26]:
arr.max()

95

In [27]:
arr.min()

9

In [28]:
arr.mean()

60.799999999999997

In [29]:
arr.argmax() # Returns the index location of the max value (in our case 95)

0

In [31]:
arr.argmin() # does for min value, 9

7

In [32]:
arr

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [34]:
arr.reshape(2,5) # 2 row by 5 columns

array([[95, 11, 81, 70, 63],
       [87, 75,  9, 77, 40]])

In [36]:
matrx = np.arange(0, 100).reshape(10, 10)
matrx

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [37]:
matrx[0, 1]

1

In [38]:
matrx[5,6] #5th row, 6th column, start with 0 for each

56

In [40]:
matrx[:, 0] # If you only want for first column, that is 0, and : indicates that you want everything

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [42]:
matrx[5, :] #indicates row, all columns

array([50, 51, 52, 53, 54, 55, 56, 57, 58, 59])

In [43]:
# slicing, 0 upto(:) but not including
matrx[0:3, 0:3]

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22]])

In [44]:
# Masking is super handy, return a matrix of boolean values
matrx > 50

array([[False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True]], dtype=bool)

In [45]:
my_filter = matrx > 50 # if we don't want boolean values but just numbers
matrx[my_filter]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [46]:
# And this you can do with booelean masking or masking in general
matrx[matrx>50]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])