In [2]:
import numpy as np
import pandas as pd

In [5]:
dataSet = pd.read_csv('my_bank.csv')

In [7]:
dataSet.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard', 'Phone'],
      dtype='object')

In [8]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5005 entries, 0 to 5004
Data columns (total 15 columns):
ID                    5005 non-null int64
Age                   5005 non-null int64
Experience            5005 non-null int64
Income                5001 non-null float64
ZIP Code              5005 non-null int64
Family                5005 non-null int64
CCAvg                 5002 non-null float64
Education             5005 non-null int64
Mortgage              5005 non-null int64
Personal Loan         5005 non-null int64
Securities Account    5005 non-null int64
CD Account            5005 non-null int64
Online                5005 non-null int64
CreditCard            5005 non-null int64
Phone                 7 non-null float64
dtypes: float64(3), int64(12)
memory usage: 586.6 KB

In [9]:
dataSet.drop(['ID','Phone'],axis=1,inplace=True)

In [10]:
dataSet.columns

Index(['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [11]:
dataSet.columns=['Age', 'Experience', 'Income', 'ZIPCode', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'PersonalLoan', 'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard']

In [16]:
dataSet.ZIPCode=dataSet.ZIPCode.astype('category')

In [17]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5005 entries, 0 to 5004
Data columns (total 13 columns):
Age                  5005 non-null int64
Experience           5005 non-null int64
Income               5001 non-null float64
ZIPCode              5005 non-null category
Family               5005 non-null int64
CCAvg                5002 non-null float64
Education            5005 non-null int64
Mortgage             5005 non-null int64
PersonalLoan         5005 non-null int64
SecuritiesAccount    5005 non-null int64
CDAccount            5005 non-null int64
Online               5005 non-null int64
CreditCard           5005 non-null int64
dtypes: category(1), float64(2), int64(10)
memory usage: 502.7 KB

In [19]:
dataSet.ZIPCode=dataSet.ZIPCode.cat.codes

In [20]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5005 entries, 0 to 5004
Data columns (total 13 columns):
Age                  5005 non-null int64
Experience           5005 non-null int64
Income               5001 non-null float64
ZIPCode              5005 non-null int16
Family               5005 non-null int64
CCAvg                5002 non-null float64
Education            5005 non-null int64
Mortgage             5005 non-null int64
PersonalLoan         5005 non-null int64
SecuritiesAccount    5005 non-null int64
CDAccount            5005 non-null int64
Online               5005 non-null int64
CreditCard           5005 non-null int64
dtypes: float64(2), int16(1), int64(10)
memory usage: 479.1 KB

In [21]:
dataSet.describe()

,Age,Experience,Income,ZIPCode,Family,CCAvg,Education,Mortgage,PersonalLoan,SecuritiesAccount,CDAccount,Online,CreditCard
count,5005.000000,5005.000000,5001.000000,5005.000000,5005.000000,5002.000000,5005.000000,5005.000000,5005.000000,5005.000000,5005.000000,5005.000000,5005.000000
mean,45.405195,20.108891,73.731654,239.731069,2.395205,1.938083,1.881718,56.505295,0.096104,0.104296,0.060539,0.597003,0.294106
std,11.785471,11.466139,46.016401,130.809195,1.147782,1.747419,0.839899,101.694910,0.294763,0.305674,0.238507,0.490549,0.455685
min,23.000000,-3.000000,8.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,131.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,254.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,55.000000,30.000000,98.000000,352.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,200.000000,43.000000,224.000000,466.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
dataSet.Income.fillna(np.mean(dataSet.Income),inplace=True)

In [29]:
dataSet.CCAvg.fillna(np.mean(dataSet.Income),inplace=True)

In [30]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5005 entries, 0 to 5004
Data columns (total 13 columns):
Age                  5005 non-null int64
Experience           5005 non-null int64
Income               5005 non-null float64
ZIPCode              5005 non-null int16
Family               5005 non-null int64
CCAvg                5005 non-null float64
Education            5005 non-null int64
Mortgage             5005 non-null int64
PersonalLoan         5005 non-null int64
SecuritiesAccount    5005 non-null int64
CDAccount            5005 non-null int64
Online               5005 non-null int64
CreditCard           5005 non-null int64
dtypes: float64(2), int16(1), int64(10)
memory usage: 479.1 KB

In [33]:
dataSet.drop_duplicates(inplace=True)

In [34]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 13 columns):
Age                  5000 non-null int64
Experience           5000 non-null int64
Income               5000 non-null float64
ZIPCode              5000 non-null int16
Family               5000 non-null int64
CCAvg                5000 non-null float64
Education            5000 non-null int64
Mortgage             5000 non-null int64
PersonalLoan         5000 non-null int64
SecuritiesAccount    5000 non-null int64
CDAccount            5000 non-null int64
Online               5000 non-null int64
CreditCard           5000 non-null int64
dtypes: float64(2), int16(1), int64(10)
memory usage: 517.6 KB

In [36]:
dataSet.drop(['Mortgage'],axis=1,inplace=True)

In [38]:
print(dataSet.CreditCard.corr(dataSet.Age))
print(dataSet.CreditCard.corr(dataSet.Experience))
print(dataSet.CreditCard.corr(dataSet.Income))
print(dataSet.CreditCard.corr(dataSet.ZIPCode))
print(dataSet.CreditCard.corr(dataSet.Family))
print(dataSet.CreditCard.corr(dataSet.CCAvg))
print(dataSet.CreditCard.corr(dataSet.Education))
print(dataSet.CreditCard.corr(dataSet.PersonalLoan))
print(dataSet.CreditCard.corr(dataSet.SecuritiesAccount))
print(dataSet.CreditCard.corr(dataSet.CDAccount))
print(dataSet.CreditCard.corr(dataSet.Online))

0.0040203234340823145
0.008967447335361374
-0.0020608237335221734
0.02279983492389364
0.011588066109776274
-0.0031076051266360955
-0.011014133979204515
0.0028015088415559455
-0.015028318897300256
0.27864436461471476
0.004209656154684466

In [40]:
dependent = dataSet['CreditCard']
inDependent = dataSet.drop(['CreditCard'],axis=1)

In [41]:
from sklearn.cross_validation import train_test_split

In [42]:
x_train,x_test,y_train,y_test = train_test_split(inDependent,dependent,test_size=0.3,random_state=333)

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [44]:
lg=LogisticRegression()

In [45]:
lg=lg.fit(x_train,y_train)

In [46]:
lg_train_prd=lg.predict(x_train)
lg_test_prd=lg.predict(x_test)

In [48]:
from sklearn.metrics import confusion_matrix

In [49]:
lg_train_confussion = confusion_matrix(y_train,lg_train_prd)
print(lg_train_confussion)
lg_test_confussion = confusion_matrix(y_test,lg_test_prd)
print(lg_test_confussion)

[[2440   45]
 [ 848  167]]
[[1028   17]
 [ 382   73]]

In [50]:
from sklearn.metrics import classification_report

In [51]:
print(classification_report(y_train, lg_train_prd))
print(classification_report(y_test, lg_test_prd))

             precision    recall  f1-score   support

          0       0.74      0.98      0.85      2485
          1       0.79      0.16      0.27      1015

avg / total       0.76      0.74      0.68      3500

             precision    recall  f1-score   support

          0       0.73      0.98      0.84      1045
          1       0.81      0.16      0.27       455

avg / total       0.75      0.73      0.66      1500

In [52]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=7, min_samples_leaf=5)
clf_gini.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [53]:
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
 max_depth=7, min_samples_leaf=5)
clf_entropy.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [54]:
gini_train_prd = clf_gini.predict(x_train)
gini_test_prd = clf_gini.predict(x_test)

In [55]:
entropy_train_prd = clf_entropy.predict(x_train)
entropy_test_prd = clf_entropy.predict(x_test)

In [57]:
from sklearn.metrics import accuracy_score

In [58]:
print ("Accuracy is ", accuracy_score(y_train,gini_train_prd)*100)
print ("Accuracy is ", accuracy_score(y_test,gini_test_prd)*100)

Accuracy is  75.65714285714286
Accuracy is  72.06666666666666

In [59]:
print ("Accuracy is ", accuracy_score(y_train,entropy_train_prd)*100)
print ("Accuracy is ", accuracy_score(y_test,entropy_test_prd)*100)

Accuracy is  75.45714285714286
Accuracy is  73.0

In [60]:
rand_gini = RandomForestClassifier(n_estimators=10,criterion = "gini", random_state = 100,
                               max_depth=7, min_samples_leaf=5)
rand_gini.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=7, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=100, verbose=0, warm_start=False)

In [61]:
rand_entropy = RandomForestClassifier(n_estimators=10,criterion = "entropy", random_state = 100,
 max_depth=7, min_samples_leaf=5)
rand_entropy.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=7, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=100, verbose=0, warm_start=False)

In [62]:
rand_gini_train_prd = rand_gini.predict(x_train)
rand_gini_test_prd = rand_gini.predict(x_test)
rand_entropy_train_prd = rand_entropy.predict(x_train)
rand_entropy_test_prd = rand_entropy.predict(x_test)

In [63]:
print ("Accuracy is ", accuracy_score(y_train,rand_gini_train_prd)*100)
print ("Accuracy is ", accuracy_score(y_test,rand_gini_test_prd)*100)
print ("Accuracy is ", accuracy_score(y_train,rand_entropy_train_prd)*100)
print ("Accuracy is ", accuracy_score(y_test,rand_entropy_test_prd)*100)

Accuracy is  74.97142857142856
Accuracy is  73.66666666666667
Accuracy is  74.94285714285715
Accuracy is  73.53333333333333