In [1]:
################### PYTHON ----------PANDAS ----------------- ##################################

In [30]:
#Pandas

import numpy as np
import pandas as pd


####### --------------------------------Pandas Series-------------------------------------------------




s = pd.Series((1,2,3,4,5))
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
'''Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.'''

'Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.'

In [6]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s.values

array([1, 2, 3, 4, 5], dtype=int64)

In [12]:
s = pd.Series(np.random.rand(5),('a','b','c','d','e'))
print(s)

a    0.567582
b    0.643504
c    0.597980
d    0.058603
e    0.332840
dtype: float64

In [13]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [14]:
type(s)

pandas.core.series.Series

In [15]:
s.mean()

0.44010195703378907

In [16]:
s.sum()

2.2005097851689452

In [17]:
a = dict(s)

In [18]:
print(a)

{'a': 0.5675824496885411, 'b': 0.64350399913890866, 'c': 0.5979796518591759, 'd': 0.058603359251080622, 'e': 0.33284032523123896}

In [19]:
s1 = pd.Series(a)

In [20]:
print(s1)

a    0.567582
b    0.643504
c    0.597980
d    0.058603
e    0.332840
dtype: float64

In [27]:
####### --------------------------------Pandas DataFrames-------------------------------------------------

''' A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.'''

' A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.'

In [32]:
dataf = pd.DataFrame({'first': s1+s1,'second': s1*s1})

In [33]:
dataf

      first    second
a  1.135165  0.322150
b  1.287008  0.414097
c  1.195959  0.357580
d  0.117207  0.003434
e  0.665681  0.110783

In [35]:
dataf.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [36]:
dataf.columns

Index(['first', 'second'], dtype='object')

In [39]:
dataf['three'] = s1*s1*s1

In [40]:
dataf

      first    second     three
a  1.135165  0.322150  0.182847
b  1.287008  0.414097  0.266473
c  1.195959  0.357580  0.213825
d  0.117207  0.003434  0.000201
e  0.665681  0.110783  0.036873

In [41]:
 type(dataf)

pandas.core.frame.DataFrame

In [43]:
dataf.three

a    0.182847
b    0.266473
c    0.213825
d    0.000201
e    0.036873
Name: three, dtype: float64

In [44]:
dataf.drop('a')

      first    second     three
b  1.287008  0.414097  0.266473
c  1.195959  0.357580  0.213825
d  0.117207  0.003434  0.000201
e  0.665681  0.110783  0.036873

In [45]:
dataf.drop('first',axis = 1)

     second     three
a  0.322150  0.182847
b  0.414097  0.266473
c  0.357580  0.213825
d  0.003434  0.000201
e  0.110783  0.036873

In [46]:
dataf.mean(axis = 0)

first     0.880204
second    0.241609
three     0.140044
dtype: float64

In [47]:
dataf.median()

first     1.135165
second    0.322150
three     0.182847
dtype: float64

In [48]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
first     5 non-null float64
second    5 non-null float64
three     5 non-null float64
dtypes: float64(3)
memory usage: 320.0+ bytes

In [49]:
dataf.describe()

          first    second     three
count  5.000000  5.000000  5.000000
mean   0.880204  0.241609  0.140044
std    0.489485  0.175735  0.115608
min    0.117207  0.003434  0.000201
25%    0.665681  0.110783  0.036873
50%    1.135165  0.322150  0.182847
75%    1.195959  0.357580  0.213825
max    1.287008  0.414097  0.266473

In [50]:
dataf.apply(min,axis = 1)

a    0.182847
b    0.266473
c    0.213825
d    0.000201
e    0.036873
dtype: float64

In [51]:
###### Import the Data #################




#Import the data
import pandas as pd
reviews = pd.read_csv("ign.csv")

In [52]:
reviews.head(10)

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11
6,6,Awful,Double Dragon: Neon,/games/double-dragon-neon/xbox-360-131320,Xbox 360,3.0,Fighting,N,2012,9,11
7,7,Amazing,Guild Wars 2,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
8,8,Awful,Double Dragon: Neon,/games/double-dragon-neon/ps3-131321,PlayStation 3,3.0,Fighting,N,2012,9,11
9,9,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/pc-142564,PC,7.0,Strategy,N,2012,9,11

In [53]:
reviews.index

RangeIndex(start=0, stop=18625, step=1)

In [54]:
reviews.columns

Index(['Unnamed: 0', 'score_phrase', 'title', 'url', 'platform', 'score',
       'genre', 'editors_choice', 'release_year', 'release_month',
       'release_day'],
      dtype='object')

In [55]:
reviews.tail()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
18620,18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18622,18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28
18623,18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28
18624,18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28

In [56]:
reviews.shape

(18625, 11)

In [70]:
# Slicing   iloc Vs Vs loc Vs ix

## loc gets rows (or columns) with particular labels from the index.

## iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

## ix usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.

'''https://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation-how-are-they-different'''

'https://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation-how-are-they-different'

In [59]:
reviews.iloc[0:4,:]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11

In [60]:
reviews.iloc[:5,:2]

   Unnamed: 0 score_phrase
0           0      Amazing
1           1      Amazing
2           2        Great
3           3        Great
4           4        Great

In [66]:
reviews.loc[3:9,'url':]

,url,platform,score,genre,editors_choice,release_year,release_month,release_day
3,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11
6,/games/double-dragon-neon/xbox-360-131320,Xbox 360,3.0,Fighting,N,2012,9,11
7,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
8,/games/double-dragon-neon/ps3-131321,PlayStation 3,3.0,Fighting,N,2012,9,11
9,/games/total-war-battles-shogun/pc-142564,PC,7.0,Strategy,N,2012,9,11

In [67]:
reviews.loc[2:10,['url','release_year']]

                                           url  release_year
2                    /games/splice/ipad-141070          2012
3                /games/nhl-13/xbox-360-128182          2012
4                     /games/nhl-13/ps3-128181          2012
5   /games/total-war-battles-shogun/mac-142565          2012
6    /games/double-dragon-neon/xbox-360-131320          2012
7                /games/guild-wars-2/pc-896298          2012
8         /games/double-dragon-neon/ps3-131321          2012
9    /games/total-war-battles-shogun/pc-142564          2012
10   /games/tekken-tag-tournament-2/ps3-124584          2012

In [68]:
some_review = reviews.iloc[10:30,]

In [69]:
some_review

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
10,10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11
11,11,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/xbox-360-124581,Xbox 360,7.5,Fighting,N,2012,9,11
12,12,Good,Wild Blood,/games/wild-blood/iphone-139363,iPhone,7.0,NaN,N,2012,9,10
13,13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7
15,15,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/mac-2001...,Macintosh,6.5,Adventure,N,2012,9,6
16,16,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/pc-137135,PC,6.5,Adventure,N,2012,9,6
17,17,Great,Avengers Initiative,/games/avengers-initiative/iphone-141579,iPhone,8.0,Action,N,2012,9,5
18,18,Mediocre,Way of the Samurai 4,/games/way-of-the-samurai-4/ps3-23516,PlayStation 3,5.5,"Action, Adventure",N,2012,9,3
19,19,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/xbox-360-137717,Xbox 360,7.0,Fighting,N,2012,9,3
20,20,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/ps3-137896,PlayStation 3,7.0,Fighting,N,2012,9,3
21,21,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/xbox-360-138918,Xbox 360,7.5,RPG,N,2012,8,31
22,22,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/ps3-138915,PlayStation 3,7.5,RPG,N,2012,8,31
23,23,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/pc-138919,PC,7.5,RPG,N,2012,8,31
24,24,Amazing,Dark Souls (Prepare to Die Edition),/games/dark-souls-prepare-to-die-edition/pc-13...,PC,9.0,"Action, RPG",Y,2012,8,31
25,25,Good,Symphony,/games/symphony/pc-136470,PC,7.0,Shooter,N,2012,8,30
26,26,Amazing,Bastion,/games/bastion/ipad-140874,iPad,9.0,"Action, RPG",Y,2012,8,30
27,27,Good,Tom Clancy's Ghost Recon Phantoms,/games/tom-clancys-ghost-recon-online/pc-109114,PC,7.5,Shooter,N,2012,8,29
28,28,Great,Thirty Flights of Loving,/games/thirty-flights-of-loving/pc-138374,PC,8.0,Adventure,N,2012,8,29
29,29,Okay,Legasista,/games/legasista/ps3-127147,PlayStation 3,6.5,"Action, RPG",N,2012,8,28

In [71]:
some_review.head()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
10,10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11
11,11,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/xbox-360-124581,Xbox 360,7.5,Fighting,N,2012,9,11
12,12,Good,Wild Blood,/games/wild-blood/iphone-139363,iPhone,7.0,NaN,N,2012,9,10
13,13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7

In [72]:
type(some_review["score"])

pandas.core.series.Series

In [73]:
reviews["score"]/2

0        4.50
1        4.50
2        4.25
3        4.25
4        4.25
5        3.50
6        1.50
7        4.50
8        1.50
9        3.50
10       3.75
11       3.75
12       3.50
13       4.50
14       4.50
15       3.25
16       3.25
17       4.00
18       2.75
19       3.50
20       3.50
21       3.75
22       3.75
23       3.75
24       4.50
25       3.50
26       4.50
27       3.75
28       4.00
29       3.25
         ...
18595    2.20
18596    3.25
18597    2.45
18598    3.40
18599    3.50
18600    3.70
18601    3.70
18602    3.70
18603    3.90
18604    4.30
18605    3.00
18606    3.20
18607    3.50
18608    2.70
18609    4.00
18610    3.00
18611    2.90
18612    3.90
18613    4.00
18614    4.60
18615    4.60
18616    3.75
18617    4.20
18618    4.55
18619    3.95
18620    3.80
18621    4.50
18622    2.90
18623    5.00
18624    5.00
Name: score, Length: 18625, dtype: float64

In [74]:
score_filter = reviews["score"] > 7