_**TODO: Select the three most recent dates from this list using list slicing notation**_

In [1]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
                 

#print(eclipse_dates)

In [4]:
print(eclipse_dates[len(eclipse_dates)-3:len(eclipse_dates)])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

_**TODO: Print the list and max value from the three (name of the list which has maximum value and its value **_

In [64]:
# Code should work if the values are changed
a = [1, 5, 8, 15, 150]
b = [2, 6, 9, 10, 50, 75]
c = [100, 20, 30, 18, 25 ]
a_max=max(a)
b_max=max(b)
c_max=max(c)
print("A List")
print(a)
print("A List Max Value")
print(a_max)
print("B List")
print(b)
print("B List Max Value")
print(b_max)
print("C List")
print(c)
print("C List Max Value")
print(c_max)
if a_max>b_max and a_max>c_max:
    print("A List: ",a_max)
elif b_max>a_max and b_max>c_max:
    print("B List: ",b_max)
else:
    print("C List: ",c_max)

A List
[1, 5, 8, 15, 150]
A List Max Value
150
B List
[2, 6, 9, 10, 50, 75]
B List Max Value
75
C List
[100, 20, 30, 18, 25]
C List Max Value
100
A List:  150

_**TODO: **_

In [57]:
names = ["Carol", "Albert", "Ben", "Donna"]

# Expected output 
# Carol-Albert and Ben-Donna

In [58]:
str=""
for i in range(len(names)):
    if (i+1)%2!=0:
        str+=names[i]+"-"
    elif (i+1) != len(names):
        str+=names[i]+" and "
    else:
        str+=names[i]
str

'Carol-Albert and Ben-Donna'

_**TODO: Print the numbers present in 1 and missing in 2 and viceversa **_                                                        
_** Also the common numbers **_

In [54]:
numbers_1 = [1, 2, 6, 3, 1, 1, 6]
numbers_2 = [2, 5, 8, 7, 3, 1, 6]
numbers_1_set=set(numbers_1)
numbers_2_set=set(numbers_2)
print("Present in 1 and missing in 2")
print(numbers_1_set.difference(numbers_2_set))
print("Present in 2 and missing in 1")
print(numbers_2_set.difference(numbers_1_set))
print("Common numbers")
print(numbers_1_set.intersection(number_2_set))

Present in 1 and missing in 2
set()
Present in 2 and missing in 1
{8, 5, 7}
Common numbers
{1, 2, 3, 6}

_**TODO: Tax Purchase
Depending on where an individual is from we need to tax them appropriately. The states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9% respectively. Use this information to take the amount of a purchase and the corresponding state to assure that they are taxed by the right amount**_

In [ ]:
#The states of CA, MN and NY have taxes of 7.5%, 9.5%, and 8.9% respectively
# Based on state and purchase amount print the tax value(Hints: Get the inputs via input command from the user) 

#state = 
#purchase_amount =

#tax = purchase_amount*tax_amount(Formula)

In [46]:
def tax_amount(purechase_amt,state):
    tax=0
    if state=="CA":
        tax=7.5
    elif state == "MN":
        tax=9.5
    elif state == "NY":
        tax=8.9
    return (purechase_amt*tax)/100
state=input("Enter the state")
purechase_amt=int(input("Enter the purchase amt"))
print("Tax: "+str(tax_amount(purechase_amt,state)))

Enter the stateCA
Enter the purchase amt200
Tax15.0

_**TODO: Write a for loop that iterates over the names list to create a usernames list. To create a username for each name, make everything lowercase and replace spaces with underscores**_

In [42]:
# Input
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

# Expected list 
usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

_**TODO: For the above problem modify the same list names without creating a new list**_

In [43]:
for i in range(len(names)):
    names[i]=names[i].replace(" ","_").lower()
names

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

_**TODO: Create a dictionary with the word count**_

In [26]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

# Expected result
#{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [34]:
book_dic=dict()
for i in book_title:
    book_dic.update({i:book_title.count(i)})
book_dic

{'great': 2,
 'expectations': 1,
 'the': 2,
 'adventures': 2,
 'of': 2,
 'sherlock': 1,
 'holmes': 1,
 'gasby': 1,
 'hamlet': 1,
 'huckleberry': 1,
 'fin': 1}

_**TODO: Iterate through the dictionary **_

In [5]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

# Expected output:

# Actor: Jerry Seinfeld    Role: Jerry Seinfeld
# Actor: Julia Louis-Dreyfus    Role: Elaine Benes
# Actor: Jason Alexander    Role: George Costanza
# Actor: Michael Richards    Role: Cosmo Kramer

In [14]:
for i in cast.items():
    print("Actor: "+i[0]+"   Role: "+i[1])

Actor: Jerry Seinfeld   Role: Jerry Seinfeld
Actor: Julia Louis-Dreyfus   Role: Elaine Benes
Actor: Jason Alexander   Role: George Costanza
Actor: Michael Richards   Role: Cosmo Kramer