Types of python to run

1. Immediate mode - cmd- python
2. Script mode - python file.py
3. IDE - Integrated Developement environment- spyder, pycharm, jupyter notebook

In [8]:
#single line Comment

""" Multiple line comment """
#print("Hi")

' Multiple line comment '

In [11]:
#Keywords

#break = 2

#Identifiers

#Identifier is a name given to entities like class, functions, variables
a = 4

a1 = 34

# 1. can be in alphabet with range of a to z
# 2. can be in range of A to Z
# 3. should not start with digits
# 4. should not be keywords
# 5. cannot use special symbols !,@,#,$,%
#global = 5 

#a$ = 7

SyntaxError: invalid syntax (<ipython-input-11-add8f96670bc>, line 19)

In [2]:
#Statements

a = 1 #assigngment statement


#Multiple Statement
a = 1 + 2 +3 + 4 + \
    2 + 4 +\
    3 + 4
    
print(a)

a = (2 + 5 + 3 + 3 +
     2 + 5 + 6
     + 4)
print(a)


#Multiple Assigngment statement
a = 54; b = 43; c = 42;

print(a,b,c)

a, b, c = 2,4.2,"Hello"

print(a,b,c)

a =b = c= "same data"

print(a,b,c)

23
30
54 43 42
2 4.2 Hello
same data same data same data

In [6]:
a,b,c=2,3.4,"ds"

c = 4.5
type(c)

float

In [1]:
# Case sensitive language

data = 5
Data = 6

print(data)
print(Data)

5
6

In [36]:
#Indentation


for i in range(1,11):
    print(i)````````````````````````````
    if(i==5):
        print("Inside if loop")
        break     
    print("Inside for loop")    
    
if True:
    print("Hi")
        

if True: print("Hello"); a =34; print(a)

1
Inside for loop
2
Inside for loop
3
Inside for loop
4
Inside for loop
5
Inside if loop
Hi
Hello
34

In [16]:
for a in range(1,5):
    print(a)
    print("inside for")
    if(a==4):
        break
print("out of for")

1
inside for
2
inside for
3
inside for
4
inside for
out of for

In [1]:
a = 5
print("a is of type", type(a))

a = 4.35
print("a is of type", type(a))

a = "Hello"
print("a is of type", type(a))

a = 1+2j
print("a is of type", type(a))

isinstance("dcfsd",str)

a is of type <class 'int'>
a is of type <class 'float'>
a is of type <class 'str'>
a is of type <class 'complex'>

True

In [14]:
for a in range(1,11):
    print (a)
ar = [1,2,3,45,90]
for a in ar:
    print (a)

1
2
3
4
5
6
7
8
9
10
1
2
3
45
90

In [15]:
ar[-2]

45

In [23]:
test_array = [1,2,3,4,5]

In [17]:
# Defining a function and returning a value
def sum(a):
    sum = 0
    for i in a:
        sum = sum + i
    return sum

In [24]:
sum(test_array)

15

In [19]:
def mul(a):
    mul = 1
    for i in a:
        mul = mul * i
    return mul

In [25]:
mul(test_array)

120

In [73]:
# Defining a function and returning more than one value
def sum_and_mul(a):
    sum = 0
    mul = 1
    for i in a:
        sum = sum + i
        mul = mul * i
    return sum, mul

In [31]:
total_sum, total_mul = sum_and_mul(test_array)

In [32]:
print ("Total sum : ", total_sum)
print ("Total mul : ", total_mul)

Total sum :  15
Total mul :  120

In [56]:
#Defining a function with default parameters
def add(a,b,c=10):
    return a+b+c

In [57]:
#calling a function with all the parameters
add(1,2,3)

6

In [58]:
#calling a function with all non-default parameters
add(1,2)

13

In [59]:
#calling a function by missing a non default parameter
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [62]:
#calling a function by passing args in different order
add(b=20,a=3)

33

In [72]:
#Write a function that will work as a calculator by taking in an operator 
def calculator(a,b, operator='+'):
    if operator == '+':
        return a+b
    elif operator == '-':
        return a - b
    elif operator == '*':
        return a*b
    elif operator == '/':
        return a/b

In [71]:
print("Add : ", calculator(1,2))
print("Subtract : ", calculator(10,5,'-'))
print("Subtract : ", calculator(5,10,'-'))
print("Product : ", calculator(5,2, '*'))
print("Division : ", calculator(4,2,'/'))

Add :  3
Subtract :  5
Subtract :  -5
Product :  10
Division :  2.0

In [79]:
def helloworld_old():
    print("Welcome to the TestLeaf")

In [239]:
for i in range(1,10):
    helloworld_old()

Welcome to the TestLeaf
Welcome to the TestLeaf
Welcome to the TestLeaf
Welcome to the TestLeaf
Welcome to the TestLeaf
Welcome to the TestLeaf
Welcome to the TestLeaf
Welcome to the TestLeaf
Welcome to the TestLeaf

In [77]:
def helloworld(a):
    print (a," Welcome to the TestLeaf")

In [78]:
helloworld("Basheer")

Basheer  Welcome to the TestLeaf

In [81]:
helloworld()

TypeError: helloworld() missing 1 required positional argument: 'a'

In [147]:
fruits = ["Mango", "Apple", "Straberry", "Orange"]
#new_fruits = ["Litchi", "Mongosteen", "Butterfruit","Dragon Fruit"] 
print (fruits)
fruits.append("Banana")
print (fruits)
fruits.pop(1)
fruits

['Mango', 'Apple', 'Straberry', 'Orange']
['Mango', 'Apple', 'Straberry', 'Orange', 'Banana']

['Mango', 'Straberry', 'Orange', 'Banana']

In [109]:
#reversing an array
fruits.reverse()
print (fruits)
fruits.

[]

[]

In [112]:
#appending an array
#fruits.reverse()
fruits.extend(new_fruits)
fruits

['Mango',
 'Straberry',
 'Orange',
 'Banana',
 'Litchi',
 'Mongosteen',
 'Butterfruit',
 'Dragon Fruit']

In [154]:
fruits.extend(["Litchi","Guava", "Grapes", "WaterMelon"])
fruits

['Mango',
 'Straberry',
 'Orange',
 'Banana',
 'Litchi',
 'Guava',
 'Grapes',
 'WaterMelon',
 'Litchi',
 'Guava',
 'Grapes',
 'WaterMelon']

In [156]:
first_three = fruits[]
#fruits[start,stop,strip]
first_three

['Mango', 'Straberry']

#

In [159]:
fruits
copy_fruits = fruits[::2]
copy_fruits = fruits

#fruits.pop(1)

In [160]:
print(fruits)
copy_fruits

['Mango', 'Orange', 'Banana', 'Litchi', 'Guava', 'Grapes', 'WaterMelon', 'Litchi', 'Guava', 'Grapes', 'WaterMelon']

['Mango',
 'Orange',
 'Banana',
 'Litchi',
 'Guava',
 'Grapes',
 'WaterMelon',
 'Litchi',
 'Guava',
 'Grapes',
 'WaterMelon']

In [169]:
new_array = [1,2,3,4,5,6,7,8,9,10]
print(new_array[1::1])

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [177]:
def add(a,b,*args):
    sum = a+b
    for i in args:
        sum = sum+i
    return sum

In [179]:
def new_add(a,b):
    print ("A : ", a)
    print ("B : ", b)
#add(b=1,a=2,3,4,5,10,20)

In [180]:
new_add(1,2)

A :  1
B :  2

In [181]:
new_add(b=1,a=10)

A :  10
B :  1

In [195]:
test_arr = [1,2,3,4,1,1,7,3,2,1]
def custom_count(arr, count_item, count_index):
    front = arr[:count_index].count(count_item)
    l = len(arr)
    end = arr[l-count_index:].count(count_item)
    return front+end

In [196]:
custom_count(test_arr, 1,5)

4

In [197]:
tmp_array = [1,2,3,4,5]

del tmp_array

In [198]:
tmp_array

NameError: name 'tmp_array' is not defined

In [201]:
a_ = [1,2,2,4,5,6,6,6,6,9,10]
s = set(a_)
s

{1, 2, 4, 5, 6, 9, 10}

In [205]:
outer_array = [1]
inner_array = [2,3,4]

outer_array.append(inner_array)
outer_array
inner_array.append(5)

In [206]:
outer_array

[1, [2, 3, 4, 5]]

In [211]:
a = {4,7,0,6,5}
b = {"A","a","C","D", "application"}

In [219]:
sorted(b, reverse=False)

['A', 'C', 'D', 'a', 'application']

In [224]:
my_fruits = {"MANGO", "APPLE", "Pomegranate","Orange"}
your_fruits = {"MANGO", "Banana", "Grapes", "Lemon"}

print ("UNION : ", my_fruits.union(your_fruits))

print ("Intersection : ", my_fruits.intersection(your_fruits))

print ("Diff : ", my_fruits.difference(your_fruits))

print ("Sym Diff : ", my_fruits.symmetric_difference(your_fruits))

UNION :  {'Grapes', 'MANGO', 'Banana', 'Pomegranate', 'Orange', 'APPLE', 'Lemon'}
Intersection :  {'MANGO'}
Diff :  {'APPLE', 'Pomegranate', 'Orange'}
Sym Diff :  {'Grapes', 'Banana', 'Pomegranate', 'Orange', 'APPLE', 'Lemon'}

In [225]:
my_fruits.difference_update?

In [226]:
tup = (1,1,1,1,1,5)

In [227]:
tup

(1, 1, 1, 1, 1, 5)

In [237]:
def modifying(a):
    if isinstance(a, list):
        a.append("HI")
    else:
        print("Not a list")

In [238]:
tup = (1,1,1,1,1,5)
arr = [1,2,3,4,5,5,5]
modifying(arr)
modifying(tup)

Not a list

In [147]:
# Finding a mode inside an array:
test_array1= [1,2,1,1,2,1,2,2,2,1,1,2,2] #aparently 1 is the mode [1,1,1,1,2,3,4,5,5,6,6,]

def getMode(a):
    sorted_array = sorted(test_array1)
    mode_value = 0
    previous_value = 0
    count = 1
    max_count = 1
    print (sorted_array)
    for i, a in enumerate(sorted_array):
        if(i==0):
                previous_value, mode_value = a,a
                #print (previous_value, mode_value)
        elif previous_value == a:
                count+=1
                if (i == len(sorted_array)-1) & (count > max_count):
                    return a, count
        elif count > max_count:
                mode_value,previous_value,max_count,count = previous_value,a,count,1
                #print(mode_value,previous_value,max_count,count)
        else:
                previous_value,count = a,1
    return mode_value, max_count

In [148]:
getMode(test_array1)

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2]

(2, 7)

In [213]:
simpleSum = lambda x,y : x+y
simpleSum(1,2)
mul = lambda x,y : x+y

In [244]:
#Power of Lambda
#Lambda way
to_be_mapped_array = [1,2,3,4,5]
print(list(map(lambda x : 2*x, to_be_mapped_array)))

#List comprehension:
print([2*x if x>3 else x for x in to_be_mapped_array])

[2, 4, 6, 8, 10]
[1, 2, 3, 8, 10]

In [175]:
#Lambda way
to_be_filtered_array = [1,2,3,4,5,6,7,8,9,10,20,30,40]
print(list(filter(lambda x: x%2 == 0 , to_be_filtered_array)))

#List comprehension
print([x for x in to_be_filtered_array if x%2==0])

[2, 4, 6, 8, 10, 20, 30, 40]
[2, 4, 6, 8, 10, 20, 30, 40]

In [ ]:
#List comprehension

In [178]:
#write a function that swaps the values of the global variables

a = 10
b = 20

def swap():
    # your logic here
    global a, b
    #temp = a
    #a = b
    #b= temp
    a,b = b,a
swap()    
print(a,b) #20,10

swap()
print(a,b) # 10,20

20 10
10 20

In [193]:
a = [1,2,3,4,5]
b = ["One", "Two", "Three", "Four","Five"]

def display(a,b):
    for i in range(len(a)):
        print(a[i],b[i])
    
def pythonicDisplay(a,b):
    for i,j in zip(a,b):
        print(i,j)
#display(a,b)
pythonicDisplay(a,b)

#list(zip(a,b,a,b,a,b))

1 One
2 Two
3 Three
4 Four
5 Five

[(1, 'One', 1, 'One', 1, 'One'),
 (2, 'Two', 2, 'Two', 2, 'Two'),
 (3, 'Three', 3, 'Three', 3, 'Three'),
 (4, 'Four', 4, 'Four', 4, 'Four'),
 (5, 'Five', 5, 'Five', 5, 'Five')]

In [197]:
fruits = ["Mango","Pine","Apple","Strayberry"]
def printwithIndex():
    for i in range(len(fruits)):
        print(i,fruits[i])

printwithIndex()

def printwithIndexP():
    for i,j in enumerate(fruits):
        print(i,j)

printwithIndexP()
# 0 Mango
# 1 Pine
# 2 Apple

0 Mango
1 Pine
2 Apple
3 Strayberry
0 Mango
1 Pine
2 Apple
3 Strayberry

In [210]:
#Passing function as an argument to another function
def printMe(x):
        print("Calculation Done, Result is here:",x)

def add(a,b,x):
    result = a+b
    x(result)
    
def printDifferently(x):
    print("Completed, go to home")
add(1,2,printMe)
add(1,2,printDifferently)
add(1,2,print)

Calculation Done, Result is here: 3
Completed, go to home
3

In [203]:
def add(a,b):
    return a+b

def mul(a,b,x):
    a =0
    for i in range (b):
        a+=x(a,b)
    return a
fun = add
mul(4,2,fun)

6

In [ ]:
def map(a,op,operand):
    tempList = []
    for i in a:
        tempList.append(i)

In [251]:
#Power of Lambda
#Lambda way
to_be_mapped_array = [1,2,3,4,5]

def add5(x):
    return x+5
def add6(x):
    return x+6
def add7(x):
    return x+7

list(map(add5, to_be_mapped_array))
list(map(add7, to_be_mapped_array))

map?
list(map(lambda x:x+8, to_be_mapped_array))
#print(list(map(lambda x : 2*x, to_be_mapped_array)))
#List comprehension:
#print([2*x for x in to_be_mapped_array])

1
2
3
4
5

[None, None, None, None, None]

In [237]:
a = [1,2,3,4,5,6,7]
print ([2*x for x in to_be_mapped_array ])
#[]?

1,2,3,

[8, 10]

(1, 2, 3)

In [248]:
from functools import reduce
a = [1,2,3,4,5,6]
reduce(lambda x,y: x+y, a)

3.5

In [259]:
Big_list = []
small_list = [1,2,3,4]
small_l = ["One","Two","Three","Four"]
Big_list.append(small_list)
Big_list.append(small_l)
Big_list.append("END")

for i in Big_list:
    print (i)

Big_list[1][2]

[1, 2, 3, 4]
['One', 'Two', 'Three', 'Four']
END

'Three'

In [274]:
def copy(a):
    print(id(a))
    return a[:]

def testCopy():
    inputs = ["a","b"]
    exp_outputs = ["a","b"]
    output = copy(inputs)
    print(id(inputs), id(output))
    #level 1 assertion
    if output == exp_outputs:
        print("Pass")
    else:
        print("Fail")
        return
    # level 2 assertion
    
    inputs.append("c")
    if output == exp_outputs:
        print("Pass")
    else:
        print("Fail")
        return

In [275]:
testCopy()

4565487112
4565487112 4571080904
Pass
Pass