In [97]:
class Message:
    header = "Welcome to OOPS : "
    def __init__(a,text):
        print("Constructing", text)
        a.text = text
        a.length = 0
        a.deliveredTime = 0
    def displayMessage(b):
        text = "HI"
        print(Message.header,b.text)
        b.deliveredTime = 2

In [98]:
message1 = Message("Basheer")
message2 = Message("Kumar")
message3 = Message("Joseph")

Constructing Basheer
Constructing Kumar
Constructing Joseph

In [99]:
message1.displayMessage()
message2.displayMessage()
message3.displayMessage()
message1.deliveredTime

Welcome to OOPS :  Basheer
Welcome to OOPS :  Kumar
Welcome to OOPS :  Joseph

2

In [41]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def aboutMe(self):
        print("{} is {} and {} years old".format(self.name,Parrot.species, self.age))

# instantiate the Parrot class
mannu = Parrot("Mannu", 10)
tannu = Parrot("Tannu", 15)

mannu.aboutMe()
tannu.aboutMe()

# access the class attributes
#print("Mannu is a {}".format(blu.__class__.species))
#print("Tannu is also a {}".format(woo.__class__.species))

Mannu is bird and 10 years old
Tannu is bird and 15 years old

In [54]:
parrotList = list()
parrotList.append(mannu)
parrotList.append(tannu)
kili = Parrot("Kili", 50)
parrotList.append(kili)

for i in parrotList:
    i.aboutMe()

New Mannu is bird and 10 years old
Tannu is bird and 15 years old
Kili is bird and 50 years old

In [55]:
parrotSet = set()
parrotSet.add(mannu)
parrotSet.add(tannu)
parrotSet.add(Parrot("Kili", 50))

for i in parrotSet:
    i.aboutMe()

Tannu is bird and 15 years old
New Mannu is bird and 10 years old
Kili is bird and 50 years old

In [59]:
mannu.name = "New Mannu"
kili.name = "New KILI"

In [60]:
for i in parrotList:
    i.aboutMe()

New Mannu is bird and 10 years old
Tannu is bird and 15 years old
New KILI is bird and 50 years old

In [61]:
for i in parrotSet:
    i.aboutMe()

Tannu is bird and 15 years old
New Mannu is bird and 10 years old
Kili is bird and 50 years old

In [100]:
class Employee:
    def __init__(self, age, name, id, salary):
        self.name = name
        self.id = id
        self.salary = salary
        self.age = age
    def printMe(self):
        print(self.name, self.salary)

In [101]:
#creating 5 objects of employee
emp1 = Employee(33,"Basher",1,20000)
emp2 = Employee(33,"Suresh",2,30000)
emp3 = Employee(33,"Naresh",3,40000)

In [103]:
emplList = list()
emplList.append(emp1)
emplList.append(emp2)
emplList.append(emp3)
emplList

[<__main__.Employee at 0x10e87dd68>,
 <__main__.Employee at 0x10e87dd30>,
 <__main__.Employee at 0x10e87def0>]

In [106]:
def printList(ar):
    [e.printMe() for e in ar]

In [107]:
printList(emplList)

Basher 20000
Suresh 30000
Naresh 40000